.proj-mainframe {
    position: absolute;
    display: table;
    width: 100%;
    height: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    display: table-row;

    transition: 0.6s;
    line-height: 64px;
    padding-top: 50px;

    background-color: rgb(40,23,23);

}
.proj-sub-title div {
    width: 698px;
    display: flex;
    justify-content: space-between;

    margin: 0 auto;

    font-size:xx-large;
    font-weight: lighter;
}
.proj-sub-title .proj-title-span {
    float: left;
    align-self: flex-end;
    text-transform: uppercase;
    color: floralwhite;
}
header.sticky {
    height: 64px;
    padding: 0;
    background-color: floralwhite;
}
header.sticky .proj-title-span {
    color: rgb(40,23,23);
}
header.sticky .proj-edit-button a {
    color: rgb(40,23,23);
}

.proj-edit-button {
    float: right;
}
.proj-edit-button a {
    color: floralwhite;
    text-decoration: none;
}

.proj-sur-body {
    width: 100%;
    height: 100%;
    /* height: 900px; */
    display: table-row;
    background-color: floralwhite;
}

.proj-vertical-fill {
    width: 698px;
    height: 100%;
    margin: 0 auto;
    padding-top: 124px;
    padding-bottom: 50px;
}

/* =================================== */

.proj-edit-mainframe {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: floralwhite;
}

.proj-edit-sur-body {
    width: 100%;
}

.proj-edit-title-sur {
    margin: 10px 10px;
}
.proj-edit-title-input {
    padding: 1px 0;
    width: calc(100% - 4px);

    font-weight: bolder;
    font-size: xx-large;
}

.proj-edit-desc-sur {
    margin: 10px 10px;
}
.proj-edit-desc-input {
    padding: 1px 0;
    width: calc(100% - 4px);

    font-weight: bold;
    font-size: larger;
}


.proj-edit-sur {
    width: calc(100% - 20px);
    margin: 0px 10px 10px 10px;
    display: flex;
}

.proj-edit-textarea {
    width: 40%;
    height: 70vh;
    resize: none;
    padding: 10px;
    font-size: 14px;
    outline: none;
}

.proj-edit-markdown {
    width: 60%;
    height: 70vh;
    padding: 10px;
    outline: none;
    overflow-y: scroll;
}

.proj-edit-button-sur {
    margin: 10px;
}